<nav class="level">
  <div class="level-right inputDivs">
    <div class="field control has-icons-left searchInput">
      <input
        class="input"
        type="text"
        placeholder="Enter Twitter Username"
        (change)="onChangeEvent($event)"
      />
      <span class="icon is-large is-left">
        <i class="fas fa-at"></i>
      </span>
    </div>
  </div>

  <div class="level-left inputDivs">
    <div class="field control searchInput">
      <input class="input" type="text" placeholder="Filter..." />
    </div>
  </div>
</nav>

<p>{{ input }}</p>
